@import "../../scss/variables";
.navbar {
    background-color: $cardNavBgColor;
    display: flex;
    justify-content: space-evenly;
    a {
        color: rgb(105, 10, 188);
        font-size: 2rem;
        padding: 1rem;
        text-decoration: none;
        &:hover {
            background-color: $backgroundColor;
            color:  $cardNavBgColor;
            transition: all 0.5s;
        }
    }
}