@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Hubballi&family=Lobster&display=swap');
@import './scss/reset', './scss/variables';
body{
    background-color: $backgroundColor;
    font-family: 'Amatic SC', cursive;
}
p {
    font-family: 'Hubballi', cursive;
}